
*{  
    margin:0;
    padding:0;
    font-size: 1.5vh !important;
    font-family: nimbus-sans,'Noto Sans KR',sans-serif !important;
    font-weight: 500;
    font-style: normal;
    color:black;
    word-break: keep-all;
    box-sizing: border-box;
    position: relative;
}
body,
#back{
	width: 100%;
	height: 100vh;
}
body{
    padding-top: 6vh;
    }
#work_wrap .work{
    width: calc(50% - 20px); 
    margin-left:10px;
    margin-right:10px;
    float: left;
    display: block;
}
#work_wrap .work .thumb{
    height: 40vh;
    width: 100%;
    background: gray
}
.search {
    margin: 5px;
    width: 30vh;
    height: calc(4.2vh - 10px);
    background-color: #e6e6e6;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(search.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.title, .cat{  
    display: inline-block;
    font-size: 1.7vh !important;
}
#work_wrap .title{
    padding-bottom: 2vh
}
.elem{
    height: 2vh;
    width: 2vh;
    border:1px solid gray;
}
.main_title{
    border-top:1px solid gray;
    display: block;
}
.whole_title{
    position: fixed;
    top: 0;
    z-index: 1000000;
    background: white;
    width: 100%;
}
#graph_wrap{
    background: #eeeeee;
    display: flex;
    margin-top: 8vh;
    width: 100%;
    height: 50vh;
    background-image: url('img/graph-01.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}
#graph_wrap_img{
    /*box-shadow: inset 0vh 2vh 1vh -1vh #bbbbbb;*/
    background: #e8e8e8;
    width: 100%;
}
.idealist #footer{position: absolute;bottom: 0; width:100%;
}
.idealist #graph_wrap_img{position: absolute;bottom: 4vh;
}
.main_cat{
    width: 6vh;
    padding-left: 0.5vh;
}
.bar{
    border-right: 1px solid black;
    position: absolute;
    top: 0;
    height: 100%;
    width: 4vh;
    min-width: 4vh;
    background-image: url(arrow-01.png);
    background-size: 4vh;
    background-position: right 1vh;
    background-repeat: no-repeat;
    left: 6vh
}
.think{
    width: 100%;
    overflow:hidden;
}
.think .date,
.think .title{
    float: left;
}
.dot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    position: absolute;
    right: -5px;
    bottom: calc(100% - 3vh + 5px);}
.think .date{
    width: 30vh
}
#think_wrap{
    overflow:hidden;
    clear:both;
    border-bottom: 1px solid gray
}
.main_title{
    height: 6vh
}
.whole_title{
    border:none;
    border-bottom: 1px solid gray
}

.cat_2_1{
    left: 0;
    position: absolute;
}
.cat_2_2{
    position: absolute;
    right: 0
}
.list #graph_wrap{
    background-image: url('img/graph-03.png');
    height: 17.5vh;
}

.index #graph_wrap{
    background-image: url('img/graph-04.png');
    height: 5vh;
}


body{overflow-x: hidden;}
.project {
    padding-top: 4vh;
}
.project .thumb_1{
    width: calc(100% - 30px);
    margin-left: 10px;
    height: 45vh;
    background: gray
}
.project .thumb_2{
    width: calc(100% - 30px);
    margin-left: 10px;
    height: 45vh;
    background: gray
}
.project .content {
    padding: 20px;
    width: 50vw;
    font-size: 1.7vh !important;
    font-weight: 400;
    line-height: 1.6 !important;
}
.project .title{
    line-height: 1.25;
    font-size: 6vh !important;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 0vh;
    padding-bottom: 0;
    width: 30%;
}
.project #graph_wrap{
    background-image: url('img/graph-01.png');
    display: flex;
    margin-top: 8vh;
    width: 100%;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
#footer{
    height: 4vh;
    line-height: 4vh;
    background: black;
    color:white;
}
.project .whole_title{
    position: fixed;
    background: white;
    z-index: 10;
    width: 100vw;
    border-bottom: 1px solid black;
    left: 0;
    height: 4vh;
    top: 0
    }



    .idealist .title{
    font-size: 3vh !important;}
    .think:hover{
        background: #eeeeee;
        cursor: pointer;
    }
    .main_title:hover{
        background: #eeeeee;
        cursor: pointer;
    }